/* Base de Tailwind CSS */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Base */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
  }
  body {
    background-color: #171718 !important;
    color: #ffffff;
  }
  body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  body::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #000000;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #db3957;
  }
}

/* Estilos para componentes (Abstraer clases) */
@layer components {
  .menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
    padding: 10px;
    z-index: 999;
    border-radius: 40px;
    transition: background 0.3s ease;
  }
  .menu-button:hover {
    background: black;
    opacity: 1;
  }

  .menu-button:active {
    background: black;
    opacity: 1;
  }

  .menu-button:focus {
    background: black;
    opacity: 1;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    width: 30px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
    opacity: 0.6;
    padding-bottom: 6px;
    transition: opacity 0.3s ease;
  }

  .menu-icon:hover {
    opacity: 1;
  }

  .span-1,
  .span-2,
  .span-3 {
    width: 100%;
    height: 8px;
    background-color: #db3957;
    margin: 2px 0;
    transition: transform 0.3s ease;
  }

  .open-span-1 {
    transform: translateY(10px) rotate(45deg);
  }

  .open-span-2 {
    opacity: 0;
  }

  .open-span-3 {
    transform: translateY(-6px) rotate(-45deg);
  }

  .bg-hero {
    @apply w-full h-screen bg-center bg-cover min-h-[500px] relative z-40;
    background-image: url("/img/Hero/Background_Hero.png");
    background-repeat: no-repeat;
  }

  .bg-hero::after {
    @apply absolute top-0 left-0 w-full h-full;
    content: "";
    background: linear-gradient(
      180deg,
      #0c0c0d 8.97%,
      rgba(12, 12, 13, 0.86) 23.96%,
      rgba(12, 12, 13, 0.46) 58.33%,
      rgba(12, 12, 13, 0.79) 85.94%,
      #0c0c0d 97.92%
    );
    z-index: 1;
  }

  .flags {
    @apply cursor-pointer opacity-80;
    transition: transform 0.3s ease-in-out;
  }

  .flags:hover {
    opacity: 1;
    transform: scale(1.09);
  }
  
  .menuitems {
    @apply flex items-center cursor-pointer py-3 px-4 rounded-lg hover:bg-black hover:text-[#DB3957] focus:bg-black focus:text-[#DB3957] active:bg-black active:text-[#DB3957];
  }

  .button-primary {
    display: inline-block;
    padding: 18px 32px;
    border: 2px solid transparent;
    border-radius: 999px;
    background-color: transparent;
    background: linear-gradient(#1f1f22, #131315),
      linear-gradient(
        to right,
        rgba(219, 57, 87, 0.65),
        rgba(219, 57, 87, 0.75),
        rgba(219, 57, 87, 0.65)
      );
    background-clip: padding-box, border-box;
    color: white;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
  }

  .button-secondary {
    display: inline-block;
    padding: 18px 32px;
    border: 2px solid #868687;
    border-radius: 999px;
    background-color: transparent;
    background: linear-gradient(#1f1f22, #131315);
    background-clip: padding-box, border-box;
    color: white;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
  }

  .badge {
    display: inline-block;
    padding: 12px ;
    border: 1px solid #868687;
    border-radius: 999px;
    background-color: transparent;
    background: linear-gradient(#1f1f22, #131315),
      );
    background-clip: padding-box, border-box;
    color: white;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    cursor: default;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.10) ;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("/img/Wave/Wave.svg");
    background-size: 1000px 100px;
  }
}

/* Estilos de Utilidades (Animaciones/Sombras/Degradados) */
@layer utilities {
  .border-gradient {
    border: 1px solid transparent;
    background-color: transparent;
    background: linear-gradient(#171718, #171718),
      radial-gradient(
        circle,
        rgba(31, 96, 193, 0.45) 15%,
        rgba(219, 57, 87, 0.45) 120%
      );
    box-shadow: -28px 28px 51px 0px rgba(0, 0, 0, 0.18);
    background-clip: padding-box, border-box;
    border-radius: 4px;
    transition: transform 0.5s, background 0.5s;
  }

  .border-gradient:hover {
    border: 1px solid transparent;
    background-color: transparent;
    transform: scale(1.024);
    background: linear-gradient(#171718, #171718),
      radial-gradient(
        circle,
        rgba(31, 96, 193, 0.90) 15%,
        rgba(219, 57, 87, 0.90) 120%
      );
    background-clip: padding-box, border-box;
    
    cursor: pointer;
  }

  .border-gradient_2 {
    border: 1px solid transparent;
    background-color: transparent;
    background: linear-gradient(#171718, #171718),
      radial-gradient(
        circle,
        rgba(31, 96, 193, 0.75) 25%,
        rgba(219, 57, 87, 0.80) 140%
      );
    background-clip: padding-box, border-box;
    border-radius: 4px;
    transition: transform 0.32s;
    cursor: pointer;
    box-shadow: 0px 0px 48px  rgba(0, 0, 0, 0.60);
  }

  #span {
    color: #db3957;
  }

  .z-max {
    z-index: 999;
  }

  .shadow-navbar {
    box-shadow: 1px 1px 12px black;
  }

  .shadow-form {
    box-shadow: 0px 0px 8px #db3957;
  }

  .shadow-button {
    box-shadow: 0px 0px 6px #db3957;
  }
  
  .shadow-button_secondary {
    box-shadow: 0px 0px 6px #868687;
  }

  /* Animación de Entrada para el Form */
  @keyframes wipe-in-down {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  .transition-wipe-in-down {
    animation: wipe-in-down 1.5s cubic-bezier(0.25, 1, 0.3, 1) both;
  }

  /* Animación de Salida para el Form */
  @keyframes wipe-out-up {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 0 100% 0);
    }
  }

  .transition-wipe-out-up {
    animation: wipe-out-up 1.5s cubic-bezier(0.25, 1, 0.3, 1) both;
  }
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
    color: white;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
