@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  background-color: #000000;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 12px;
  background: #000000;
}
body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #db3957;
}

.flag:hover{
  transition: transform ease-in-out 0.3s;
  transform: scale(1.15);
}